<!--<table>-->
<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>x</th>-->
<!--            <th>y</th>-->
<!--            <th>R</th>-->
<!--            <th>Результат</th>-->
<!--            <th>Время</th>-->
<!--            <th>Время выполнения скрипта</th>-->
<!--        </tr>-->
<!--        </thead>-->

<!--        <tbody>-->
<!--        <tr *ngFor="let point of points">-->
<!--            <td>{{point.x}}</td>-->
<!--            <td>{{point.y}}</td>-->
<!--            <td>{{point.r}}</td>-->
<!--            <td>{{point.hit}}</td>-->
<!--            <td>{{point.currentTime}}</td>-->
<!--            <td>{{point.executionTime}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</table>-->

<!--<input id="clear_button" class="check clear_button" type="submit" (click)="onClear()" value="Очистить"/>-->
